*, *::before, *::after {
  box-sizing: border-box;
}

body,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}

#drum-machine {
  display: flex;
  background: rgb(58, 37, 37);
  border: 3px solid rgb(156, 14, 113);
  padding: 30px 40px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.drum-pad-container{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 110px 110px 110px;
  grid-template-rows: 110px 110px 110px;
}

.drum-pad {
  cursor: pointer;
  width: 90px;
  height: 90px;
  background: pink;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,.5);
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 28px;
  color: #800080;
  text-transform: uppercase;
}

h4 {
  margin-top: 0;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
  color: #fff;
}

.switch {
  width: 100px;
  height: 40px;
  position: relative;
  z-index: 2;
  visibility: hidden;
  cursor: pointer;
}

.switch::before {
  content: '';
  position: absolute;
  visibility: visible;
  transition: .5s;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #333, #000);
  border-radius: 20px;
  box-shadow: 0 0 0 3px #353535, 0 0 0 4px #3e3e3e, inset 0 0 6px rgba(0,0,0,1), 0 5px 20px rgba(0,0,0,.5), inset 0 0 15px rgba(0,0,0,.2);
  top: 0;
  left: 0;
}

.switch::after {
  content: 'OFF';
  position: absolute;
  visibility: visible;
  text-align: center;
  color: #fff;
  width: 70%;
  background: linear-gradient(0deg, #000, #8f8f8f);
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  top: 0;
  left: 0;
  transition: all .4s;
  border-radius: 20px;
  padding: 12px 0px;
}
.switch:checked::before {
  background: linear-gradient(0deg, #800080, #f514f5);
}
.switch:checked::after {
  content: 'ON';
  left: 30px;
  color: #f514f5;
}

#display {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: pink;
  font-weight: bold;
  font-size: large;
  border-radius: 2px;
}
.volume-slider {
  width: 280px;
}
#slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%; 
  height: 6px; 
  background: pink; 
  outline: none;
  opacity: 0.7; 
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}
#slider:hover{
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  background: #f514f5;
  cursor: pointer;
  border-radius: 10px;
}

#slider::-moz-range-thumb {
  width: 10px; 
  height: 25px; 
  background: #f514f5; 
  border-radius: 10px;
  cursor: pointer; 
}
.background-text{
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 20px;
  color: #3e3e3e;
  font-size: 60px;
  text-transform: uppercase;
  font-style: italic;
  font-family: cursive;
  font-weight: 700;
}

.kit-selector-wrapper{
  width: 280px;
  text-align: center;
}

.kit-selector {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.kit-switch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  color: #fff;
  text-transform: capitalize;
}

.switch2 {
  appearance: none;
  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  background-color: pink;
  border-radius: 50%;
  box-shadow: 0 0 8px 2px rgba(156, 14, 113, 0.2);
  outline: none;
  opacity: .8;
  box-sizing: unset;
}
.switch2::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid gray;
  background-color: transparent;
  z-index: 1;
  transition: all .3s;
}
.switch2::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 16px;
  transform: translate(-50%,-50%);
  width: 9px;
  height: 15px;
  background: gray;
  z-index: 1;
  transition: all .3s;
  border: 3px solid pink;
  box-shadow: none;
  border-radius: 1px;
}

.switch2:hover {
  opacity: 1;
}

.switch2:checked {
  opacity: 1;
  box-shadow: 0 0 8px 2px rgba(156, 14, 113, 0.5);
}

.switch2:checked::before{
  border-color: rgb(156, 14, 113);
}

.switch2:checked::after {
  background: rgb(156, 14, 113);
}

@media(max-width:768px) {
  #drum-machine{
    transform: scale(0.8);
    flex-direction: column;
  }
  .power-switch, .volume-slider, #display {
    padding: 10px;
  }
  .background-text{
    display: none;
  }
}